doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Технопредприниматель уровня 90 
  link(href="stylesheets/sheet.css" rel="stylesheet")

html
include ./includes/header.jade

main
  .container
    h1
      | Course content
    h2.episode-name
      | Open episode name
    table.course-nav
      tbody
        tr.course-nav__item--checked
          td.course-nav__icon
          td.course-nav__text
            | Complete step
          td.course-nav__cost 20
            span diam

        tr.course-nav__item
          td.course-nav__icon
          td.course-nav__text
            a(href="#") Current step
          td.course-nav__cost 20
            span diam

        tr.course-nav__item--locked
          td.course-nav__icon
          td.course-nav__text
            | Locked step
          td.course-nav__cost 20
            span diam
    h2.episode-name.locked
      | Locked episode name

include ./includes/footer.jade
include ./includes/scripts.jade