doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Технопредприниматель уровня 90 
  link(href="stylesheets/sheet.css" rel="stylesheet")

html
  include ./includes/header.jade

//- for example set step for progressbar
//- var step = "42%"
main
  .container
    h2 Технопредприниматель уровня 90
      small интерактивный курс

    .row
      .col.l6
        image.img-responsible(src="images/course-intro.png")
      .col.l6
        p.
          В августе этого года в городе Альметьевск (респ. Татарстан) будет прохоидть предпринимательское реалити-шоу «Точка взлета». В процессе которого мы будем приглашать известных практиков ИТ индстурии и опрашивать их в формате интервью, как построить успешную ИТ-комнпаию.
        p.
          20 резидентов попробуют все их советы на практике (в программе акселерации). А вы сможете не только наблюдать за этим процессом в режиме «онлайн» через систему «LeveL90», но и получить теже самые полезные и материалы: интервью, задания, книги, фильмы и так далее.
  .container.center
    p.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae alias, odio totam quae minus reiciendis neque distinctio voluptatibus accusantium aliquid laboriosam, facere harum fuga reprehenderit vero veniam tenetur nemo. Veritatis voluptatum totam quasi nobis, et? Natus minus officia praesentium, nam deserunt laborum incidunt quia? Laudantium beatae maxime accusantium animi recusandae repellat voluptatem quam ipsum iste ipsam, libero quaerat, hic culpa! Nihil praesentium commodi quisquam atque soluta ex provident assumenda eos, amet esse facilis error, optio minima libero ipsa vitae numquam reprehenderit cupiditate. Qui inventore veritatis, omnis dolorem et harum debitis nobis aspernatur possimus hic asperiores praesentium mollitia, excepturi nesciunt facilis.

  .container.center
    p Уже через пару месяцев мы выпустим клиентскую версию из beta-тестирования. А сейчас у вас есть уникальная возможность помочь нам в улучшении сисемы, попробуя ее бесплатно!
    p
      a.btn.blue.block.wide Пройти интерактивный курс

include ./includes/footer.jade
include ./includes/scripts.jade