doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Технопредприниматель уровня 90 
  link(href="stylesheets/sheet.css" rel="stylesheet")

html
include ./includes/header.jade

main
  .container
    include ./includes/typography.jade
    hr
    include ./includes/buttons.jade
    hr
    include ./includes/grid.jade
    hr
    include ./includes/forms.jade
    hr
    include ./includes/tabs.jade

include ./includes/footer.jade
include ./includes/scripts.jade