/* footer */
$progress-bar_color: #96c762;

@mixin socbutton {
  display: inline-block;
  vertical-align: middle;
  background: url("3_organisms/footer/socbutton-sprite.png") no-repeat;
  // as soon as we use sprites - have to use images coordinates (px)
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.progress {
  color: $grey-line;
  height: 5em;
  border-top: 1px solid $grey-line;
  padding: 1.8em 0 0 0;
  line-height: 1.8em;

  // конвертится в .progress__holder
  &__holder {
    height: 10px;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: $grey-background;
    border-radius: 0px;

    // конвертится в .progress__holder-bar
    &-bar {
      float: left;
      height: 100%;
      font-size: 0.8em;
      line-height: 20px;
      text-align: center;
      opacity: 0.5;
      background-color: $progress-bar_color;
    }
  }
}

// awful!
.link-bar {
  color: $grey-tooltip;
  height: 3em;
  background-color: $grey-background;
  border-top: 1px solid $grey-line;
  line-height: 3em;
  vertical-align: middle;
  // this cascade affects all links in .link-bar
  // so move to .link-bar__links for separate definition for left and right links
  &__links {
    a {
      margin-right: 0.5em;
      text-decoration: none;
      color: $grey-line;
      &:hover { color: $grey-tooltip; }
      // margin-right: 0.5em;
    }
  }
  // конвертится в .link-bar__socbuttons
  &__socbuttons {
    text-align: right;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        @media #{$medium-and-up} {
          margin-left: 0.2em;
        }
      }
    }
    .link-bar__socbuttons {
      &-vk {
        @include socbutton;
        background-position: 0 -76px;
        &:hover {opacity: 1; background-position: 0 0;}
      }
      &-fb{
        @include socbutton;
        background-position: 0 -95px;
        &:hover {opacity: 1; background-position: 0 -19px;}
      }
      &-tw {
        @include socbutton;
        background-position: 0 -114px;
        &:hover {opacity: 1; background-position: 0 -38px;}
      }
      &-yt {
        @include socbutton;
        background-position: 0 -133px;
        &:hover {opacity: 1; background-position: 0 -57px;}
      }
    }
  }
}
