html,
body {
	height: 100%;
	min-height: 100%;
	width: 100%;
}

body {
	display: table;
}

main,
header,
footer {
	display: table-row;
}

main {
	position: relative;
	height: auto;
	.container {
    &:first-child {
        margin-top: 3em;
        @media (min-height: 600px) {
        margin-top: 5em;
        }
        @media (min-height: 750px) {
        margin-top: 8em;
        }
        @media (min-height: 900px) {
        margin-top: 13em;
        }
    }
    &:last-child {
        margin-bottom: 3em;
        @media (min-height: 600px) {
        margin-bottom: 5em;
        }
        @media (min-height: 750px) {
        margin-bottom: 8em;
        }
        @media (min-height: 900px) {
        margin-bottom: 13em;
        }
    }
	}
	// collapse one margin between containers
	.container + .container {
		margin-top: 0;
	}
	.container.with-progress {
		margin: 3em auto 11em;
		@media #{$medium-and-up} {
			margin: 5em auto 13em;
		}
		@media (min-height: 750px) {
			margin: 8em auto 14em;
		}
		@media (min-height: 900px) {
			margin: 13em auto 18em;
		}
		
	}
	.progress .container {
		margin: 0 auto;
	}
}


header,
footer {
	height: 1px;
}