// ==================================================
// COLORS
// ==================================================

// base colors
$white: #fff;
$grey-line: #D5D5D5;
$grey-text: #666;
$grey-tooltip: #999;
$grey-background: #f5f5f5;
$grey: $grey-line;
// why this shit? black = #000, it's simple
$not-black: #333;
// (deprecated use $black instead)
// if you want use not black as black, just spell black, omg
$black: $not-black;

// buttons' colors
$yellow: #e5b432;
$green: #89c04f;
$blue: #0099ff;
$info-blue: #72c7e4; // deprecated
$info: $info-blue;
$red: #dc594b;

$link-color: #0099ff;
$link-color-hover: #ff0000;

// backgrounds
$yellow-well: #f7f5e4;

// ==================================================
// FONTS 
// ==================================================
// font-awesome path overwrite
$fa-font-path: "../fonts/font-awesome";

$header-adaptive-resize: 992px;
// ==================================================
// Media Query Ranges
// ==================================================
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;
