h1 Buttons
p All buttons are inline components
.row
  .col.m6
    p 
      button Flat button
    p 
      button.blue Blue button
    p 
      button.green.uppercase Green uppercase button
  .col.m6
    p
      button.blue.small Blue small button
    p
      button.info.large Info large button
    p
      button.white.wide White wide button