footer
  if step 
    .progress
      .container
        .row
          .col.s12.m12.l8
            | Прогресс по эпизоду
            .progress__holder
              .progress__holder-bar(role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 42%")

  .link-bar
    .container
      .row
        .col.s8.m8.l8
          .link-bar__links
            a(href="http://level90.ru" target="_blank") О проекте
            a(href="mailto:lesenka@level90.ru?Subject=From%20Level90" target="_top") Поддержка

        .col.s4.m4.l4
          .link-bar__socbuttons
            ul
              li
                a(href="https://vk.com/level90")
                  i.link-bar__socbuttons-vk
              li
                a(href="https://www.facebook.com/School.Level90")
                  i.link-bar__socbuttons-fb
              li
                a(href="https://twitter.com/Lesenka_LeveL90")
                  i.link-bar__socbuttons-tw
