h1 Forms
h4 Input with 100% width
.input-group
  .input-group__input.all
    input(type="text", placeholder="Ответьте на вопрос как можно более подробно")
  .input-group__input
    button.blue Submit
hr
h4 Input combined with columns
.row
  .col.l5.background-yellow
    p Could be placed in columns (this one is col l5)
    .input-group.all
      label.input-group__label Label for input
      .input-group__input
        input(type="text")
    .input-group.all
      label.input-group__label Label for another one
      .input-group__input
        input(type="text")
    hr
    p.right
      button.cancel Cancel
      button.info Submit
  .col.l5.push-l2.background-yellow
    p Another column (col l5 push-l2)
    .input-group.all
      label.input-group__label Label for input
      .input-group__input
        input(type="text")
    .input-group.all
      .input-group__label &nbsp;
      .input-group__input
        button.green.all Submit

h4 Input groups with different input width
.input-group
  label.input-group__label Label for input
  .input-group__input.s
    input(type="text", placeholder="Phasellus purus.  ")

.input-group
  label.input-group__label Label for input
  .input-group__input.m
    input(type="text", placeholder="Donec vitae dolor.  ")

.input-group
  .input-group__label Label for input
  .input-group__input.l
    input(type="text", placeholder="Nam vestibulum accumsan nisl.  ")

h4 Input file
.input-group
  span.input-group__label Select file
  .input-group__input
    .ruby_wrapped_input_with_additional_div
      input#file_sample.inputfile(type="file")
    label.inputfile.btn.white(for="file_sample")
      span Upload
  span.input-group__hint
    | Image 500x500 px,
    br
    | JPEG or PNG