h1 Grid

p.center works from 0px:
.row
  .col.s1
    .background-yellow
      p.center s1
  .col.s2
    .background-yellow
      p.center s2
  .col.s3
    .background-yellow
      p.center s3
  .col.s6
    .background-yellow
      p.center s6

p.center works from 600px:
.row
  .col.m4
    .background-yellow
      p.center m4
  .col.m4
    .background-yellow
      p.center m4
  .col.m4
    .background-yellow
      p.center m4

p.center works from 992px:
.row
  .col.l6
    .background-yellow
      p.center l6
  .col.l6
    .background-yellow
      p.center l6