header
  .container
    .navbar
      .navbar__logo
        a
          i.navbar__logo-level90

        .navbar__cource-name
          i.fa.fa-bars.menu-init(aria-hidden="true")
          a Course title


      .navigation
        .navigation__bg
        .navigation__tabs
          ul
            li
              a.navigation__tabs-tab1.active
                span Курс
            li
              a.navigation__tabs-tab1
                span Медиатека
            li
              a.navigation__tabs-tab1
                span Трансляции
            li
              a.navigation__tabs-tab1
                span Сообщество

        nav.navigation__right-menu
          .navigation__right-menu-cross
            image(src="stylesheets/3_organisms/header/cross.png")
          ul
            li
              a.navigation__right-menu-mobile(href="#") Курс
            li
              a.navigation__right-menu-mobile(href="#") Медиатека
            li
              a.navigation__right-menu-mobile(href="#") Трансляции
            li
              a.navigation__right-menu-mobile(href="#") Сообщество
            li
              a Профиль
            li
              a Выход

        .navbar__user
          a.navbar__user-link.menu-init(href="#")
            .navbar__user-name
              | User name
            .navbar__user-image
              image(src="images/userpic-placeholder.png")
            i.fa.fa-caret-down(aria-hidden="true")
