h1 Tabs
.tabs
  .tab-menu
    .tab-link(data-tab="description") Description
    .tab-link.active(data-tab="contents") Contents
  .tabs-content
    .tab-content#description
      p Nullam eu ante vel est convallis dignissim.  Fusce suscipit, wisi nec facilisis facilisis, est dui fermentum leo, quis tempor ligula erat quis odio.  Nunc porta vulputate tellus.  Nunc rutrum turpis sed pede.  Sed bibendum.  Aliquam posuere.  Nunc aliquet, augue nec adipiscing interdum, lacus tellus malesuada massa, quis varius mi purus non odio.
    .tab-content#contents
      ul
        li Vivamus id enim.   
        li Aliquam erat volutpat.   
        li Proin neque massa, cursus ut, gravida ut, lobortis eget, lacus.   
        li Phasellus purus.   
        li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.   

