@mixin input {
  box-sizing: border-box;
  width: 100%;
  color: $not-black;
  background-color: white;
  border: 1px solid $grey-line;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0.5em 0.5em;
}

.nested-fields,
.input-group {
  @include clearfix();
  position: relative;
  margin-bottom: 1.5em;
  &.all {
    width: 100%;
  }

  @media #{$medium-and-up} {
    display: table;
  }


  &__checkbox {
    margin: 0.8em 0;
  }

  &__label {
    display: block;
    box-sizing: border-box;
    line-height: 1;
    padding-bottom: 0.5em;

    @media #{$medium-and-up} {
      vertical-align: middle;
      padding-bottom: 0;
      display: table-cell;
      width: 33%;
    }

    @media #{$large-and-up} {
      vertical-align: middle;
      padding-bottom: 0;
      display: table-cell;
      width: 10em;
      max-width: 10em;
    }
    span {
      .cell {
        margin-right: 1em;
      }
      display: inline-block;
      white-space: nowrap;
      margin-right: 2em;
    }
  }

  &__input {
    display: block;
    @media #{$medium-and-up} {
      display: table-cell;
      vertical-align: middle;
      &.s {
        width: 10em;
      }
      &.m {
        width: 15em;
      }
      &.l {
        width: 30em;
      }
      &.w {
        width: 40em;
      }
      &.all {
        width: 100%;
        input {
          border-radius: 3px 0 0 3px;
        }
      }

      & + .input-group__input {
        button,
        .btn {
          border-radius: 0 3px 3px 0;
        }
      }
    }

    & select,
    & textarea,
    & input {
      @include input();
    }
    & textarea {
      resize: vertical;
      &.cell {
        height: 2.2em;
        min-height: 2.2em;
      }
    }
  }

  &__hint {
    color: $grey-line;
    display: inline-block;
    vertical-align: middle;
    padding-top: 0.5em;

    @media #{$large-and-up} {
      display: table-cell;
      vertical-align: middle;
      padding-left: 1em;
      padding-top: 0;
    }
    a {
      @extend .btn;
      color: $grey;
    }
  }
}

select.input-group__input,
textarea.input-group__input,
input.input-group__input {
  @include input();
}
