/* callout-block */
$level-width: 10em;
.callout {
  text-align: center;
  margin: 0 auto;
  margin-top: 5em;
  width: 10em;
  border: 5px solid $green;

  &__level-label {
    font-family: 'ProximaNova-Semibold', 'Proxima Nova', sans-serif;
    font-weight: 400;
    // line-height: 3em;
    color: $green;
  }

  &__level-current {
    font-family: 'ProximaNova-Bold', 'Proxima Nova', sans-serif;
    font-weight: 400;
    font-size: 4.5em;
    color: $green;
  }

  &__level-count {
    font-family: 'ProximaNova-Semibold', 'Proxima Nova', sans-serif;
    font-weight: 400;
    color: lighten($grey-line, 5%);
  }
  @media all and (max-width: 1400px){
    margin-top: 4em;
  }
  @media all and (max-width: $header-adaptive-resize){
    margin-top: 6em;
  }
  &__coins {
    margin-top: 1em;
    text-align: center;
    &-count {
      font-family: 'ProximaNova-reg', 'Proxima Nova', sans-serif;
      font-weight: 400;
      color: lighten($grey-line, 5%);;
      display: inline-block;
      line-height: 1;
      position: relative;
      text-align: left;
      img {
        position: absolute;
        width: 2em;
        height: 2em;
        line-height: 2em;
        left: -2.5em;
      }
    }
  }
}