.episode-name {
  margin-bottom: 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  @media #{$medium-and-up} {
    margin-bottom: 1em;
    font-size: 2em;
  }

  &.locked {
    margin-bottom: 0.5em;
    color: lighten($grey, 5%);
    @media #{$medium-and-up} {
      font-size: 2em;
    }
  }
}

.course-nav {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5em;
}

.course-nav__item--checked,
.course-nav__item--locked,
.course-nav__item--open {
  font-size: 0.9em;
  @media #{$medium-and-up} {
    font-size: 1em;
  }
}

.course-nav__item--checked {
  .course-nav__icon {
    background: url("3_organisms/course/navigation-check.png") no-repeat center 9px;
    background-position: 0 0.3em;
    background-size: 1em;
  }
}

.course-nav__item--locked {
  .course-nav__icon {
    background: url("3_organisms/course/navigation-lock.png") no-repeat center 9px;
    background-position: 0 0.3em;
    background-size: 1em;
    visibility: hidden;
  }
  &:hover .course-nav__icon {
    visibility: visible;
  }
}

.course-nav__icon {
  padding: 1em;
}

.course-nav__text {
  vertical-align: top;
  padding: 0 1em 0.8em 2em;
  line-height: 1.5;
  width: 100%;
  text-indent: -2em;
}

.course-nav__cost {
  line-height: 1.5;
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
  color: $grey;
  span {
    display: none;
    @media #{$medium-and-up} {
      display: inline;
    }
  }
}

.course-nav__edit {
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
  color: $grey;
}
