/* task-block */

.task {
  background-color: $yellow-well;
  border-radius: 5px;
  padding: 1em;
  // конвертится в .task__text

  &__text {
    line-height: 1.8em;
    text-align: left;
    display: inline-block;
    width: 80%;
    margin: {
      bottom: 0em;
    }
  }
  
  // конвертится в .task__text-text
  &__input-text {
    display: block;
    height: 40px;
    width: 90%;
    max-width: 600px;
    min-height: 100px;
    font-size: 1em;
    line-height: 1.8;
    color: $not-black;
    background-color: white;
    background-image: none;
    border: 1px solid $grey-line;
    border-radius: 5px;
    padding: {
      left: 20px;
      top: 15px;
    }
    margin: {
      top: 0.8em;
      bottom: 0.6em;
      right: 2em;
    }
  }

  // конвертится в .task__input-list
  &__input-list {
    margin-top: 0.8em;
    margin-bottom: 0.6em;
  }
}
